* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
    width: 100vw;
    height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100wv;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    background-color: rgb(221, 69, 23);
    color: white;
    flex: 0 0 100%;
}


h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 2.15;
}

main {
    width: 80%;
    justify-items: center;
    margin: auto;}


.contenedor_header{
    display: flex;
    height: 7rem;
    background-color: goldenrod;
}
.nav_bar{
    display: inline-flex;
    flex-direction: row;
    background-color: goldenrod;
    height: 100%;
    justify-content: center;
    width: 100%;

}

.logo{
    display: flex;
    height: 100%;
    justify-content: center;
    width: 10%;
}
.logo img{
    height: 100%;
}

.logo-carrito{
    display: flex;
    height: 100%;
    justify-content: center;
    width: 10%;
    margin-top: .5rem;
}
.logo-carrito img{
    height: 60%;
}
.nav_bar ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: goldenrod;
    list-style: none;
}

.nav_bar ul li{
    display: block;

    flex-grow: 1;
    text-align: center; 
    height: 60%;
    margin: auto;
}
.nav_bar ul li a{
    display: block;
    color: white;
    height: 100%;
    align-content: center;
}

.nav_bar ul li a{
    text-decoration: none;
}

/* -------------------------------------- HOME ------------------------------------*/
.contenedor-productos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:space-evenly;
    column-gap: 20px;
    justify-content: center;

}
.contenedor-articulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    width: 25%;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
}

.contenedor-productos article img{
    height: 200px;
    width: 100%;
    border-radius: 4px;
    padding-top: 10px;
    object-fit: contain;
}

.parrafo-home{
    text-align: center;
}

.h2_home{
    display: block;
    text-align: center;
    margin-top: 4rem;
}

/* --------------------------------------PAGINA CONTACTO ------------------------------------*/

.contenedor_total{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 12srem;
    width: 100%;
    padding: 0 20%;
    margin-top: 0;
}

.contenedor_total form{
    display: flex;
    height: 100%;
    flex-direction: column;
}
.contenedor_form_mensaje{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    flex-wrap: nowrap;
    flex: 1 1 100%;
    margin-bottom: 2%;
    align-items: flex-end;
}


.contacto_h1{
    margin-bottom: 30px;
    font-size: 5rem;
}

.contenedor_form {
    height: 100%;
    justify-items: right;
    flex: 1 1 50%;
    align-content: flex-end;

}

.contenedor_label_input{
    height: 25%;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
}

.contenedor_label_input label{
    display: block;

}
.contenedor_form div input{
    display: block;
}


.contenedor_botones button{
    padding: 4px;
    margin: 10px;
    width: 5rem;
}
.contenedor_botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1 10%
}


.contenedor_mensaje{
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    height: 100%;
    padding: 0 10%;
}

.contenedor_mensaje label{
    text-align: center;
    height: 30%;
}

.contenedor_mensaje textarea{
    margin: 0 5%;
    height: 100%;
    resize: none;
}

article button{
    height: 2.5rem;
    margin: 5px;
    width: 8rem;
    border-radius: 10px;
    font-weight: 700;
    
}
/* -------------------------------------- FOOTER ------------------------------------*/


footer {
    margin-top: 2rem;
    height: 9rem;
    width: 100%;
    background-color: rgb(255, 94, 0);
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
}

.footer_ul_icons{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    gap: 2%;
    flex-shrink: 1;
}



.footer_ul_icons li img {
    height: 8vh;
}

footer div{
    align-content: center;
    width: 100%;
    text-align: center;
}


.div_sobre_nosotros ul, .div_info_legal ul{
    
    list-style: none;
}

.div_sobre_nosotros ul li a:hover, .div_info_legal ul li a:hover{
    color: black;
    font-size: larger;
}

.div_sobre_nosotros ul li a, .div_info_legal ul li a{
    text-decoration: none;
    color: white;
}

